*.versionsBackup
.DS_Store
target
.idea
*.iml
.factorypath
rakefile
.settings
local.zsh
.vagrant
environment/puppet/modules/wildfly/spec/fixtures/modules/archive
*.pyc
.idea
*.iml
dist.dev
dist.dev.zip
src/app/constants.js
src/lib
local.zsh
source/modules/frontend/node_modules
