<div class="col-md-12">
	<div class="col-md-6 col-md-offset-3">
		<alert ng-repeat="alert in mAdminAlerts" type="{{alert.type}}"
					 close="closeAlert($index)" class="animate-fade"
					 style="width: 100%">{{alert.msg}}
		</alert>
		<h2 class="page-title">Kommuneadmin side</h2>
		<div class="panel panel-default">
			<div class="panel-heading">
				Upload ny organisationsstruktur
			</div>
			<div class="panel-body">
				Her kan du uploade en ny fil med organisationsstruktur. Klik <a target="_blank"
					href="/public/org_example.json">her</a> for eksempel.
				<form>
					<div class="form-group">
						<label for="orgFileInput">Vælg fil</label>
						<input type="file" id="orgFileInput" file-model="uploadFile" multiple>
					</div>
					<div class="text-right">
						<button type="button" class="btn btn-primary" ng-click="upload()">Upload</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!--
	TODO:
	*) Upload new KLE
	*) Show status for upload-processing
	*) List of municipalities, edit
	*) Add new municipality (including primary responsible - set as email? Pick from OrgUnit tree?)
	*) Delete (type in name to confirm)
	*) Add / remove administrators

	-->
</div>
