	<!--
										<div data-ng-repeat="firstKle in currentOrgUnit.displayKles">							
											<div class="list-group-item">	
												
												<a  data-ng-click="firstKle['visible'] = !firstKle['visible']">	
													<span class="glyphicon hover" data-ng-class="firstKle['visible'] ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>	
												</a>
												&nbsp;&nbsp;
												
												<input type="checkbox" data-ng-model="firstKle.performing" data-ng-click="modifyKle(firstKle.performing,firstKle,currentOrgUnit,'PERFORMING')"></input>
												<input type="checkbox" data-ng-model="firstKle.interest" data-ng-click="modifyKle(
												firstKle.interest, firstKle, currentOrgUnit,'INTEREST')"></input>
												{{::firstKle.number}} &nbsp;&nbsp;{{::firstKle.serviceText}}
												
											</div>

											<div  data-ng-repeat="secondKle in firstKle.children" data-ng-show="firstKle['visible']">
												<div class="list-group-item">	
												
													<a data-ng-click="secondKle['visible'] = !secondKle['visible']">
														<span class="glyphicon hover" data-ng-class="secondKle['visible'] ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right' "></span>
													</a>
													<input 
													type="checkbox" data-ng-model="secondKle.performing" data-ng-click="modifyKle(secondKle.performing,secondKle,currentOrgUnit,'PERFORMING')">	</input>
													<input 
													type="checkbox" data-ng-model="secondKle.interest" data-ng-click="modifyKle(secondKle.interest,secondKle,currentOrgUnit,'INTEREST')">	</input>
													{{::secondKle.number}} {{::secondKle.serviceText}}													
												</div>
												<div  data-ng-repeat="thirdKle in secondKle.children" data-ng-show="secondKle['visible']">
														<div class="list-group-item">	
														
														<a data-ng-click="thirdKle['visible'] = !thirdKle['visible']">
														</a>
														
														<input type="checkbox" data-ng-model="thirdKle.performing" data-ng-click="modifyKle(thirdKle.performing,thirdKle,currentOrgUnit,'PERFORMING')">	</input>
														<input 
														type="checkbox" data-ng-model="thirdKle.interest" data-ng-click="modifyKle(thirdKle.interest,thirdKle,currentOrgUnit,'INTEREST')">	</input>
														{{::thirdKle.number}} {{::thirdKle.serviceText}}											
														</div>
												</div>
											<div>
										</div>
									</div>		
							</div>

							
				-->
				<!--
							<div class="tab-pane" >
									<div ng-if="true" class="panel-body">
										<div data-ng-repeat="firstKle in currentOrgUnit.displayKles">							
											<div class="list-group-item">	
												<a  data-ng-click="firstKle['visible'] = !firstKle['visible']">	
													<span class="glyphicon hover" data-ng-class="firstKle['visible'] ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>	
												</a>
												&nbsp;&nbsp;
												<input type="checkbox" data-ng-model="firstKle.performing" data-ng-click="modifyKle(firstKle.performing,firstKle,currentOrgUnit,'PERFORMING')"></input>
												<input type="checkbox" data-ng-model="firstKle.interest" data-ng-click="modifyKle(
												firstKle.interest, firstKle, currentOrgUnit,'INTEREST')"></input>
												{{firstKle.number}} &nbsp;&nbsp;{{firstKle.serviceText}}
											</div>

											<div  data-ng-repeat="secondKle in firstKle.children" data-ng-show="firstKle['visible']">
												<div class="list-group-item">	
													<a data-ng-click="secondKle['visible'] = !secondKle['visible']">
														<span class="glyphicon hover" data-ng-class="secondKle['visible'] ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right' "></span>
													</a> 
													<input 
													type="checkbox" data-ng-model="secondKle.performing" data-ng-click="modifyKle(secondKle.performing,secondKle,currentOrgUnit,'PERFORMING')">	</input>
													<input 
													type="checkbox" data-ng-model="secondKle.interest" data-ng-click="modifyKle(secondKle.interest,secondKle,currentOrgUnit,'INTEREST')">	</input>
													{{secondKle.number}} {{secondKle.serviceText}}
												</div>
												<div  data-ng-repeat="thirdKle in secondKle.children" data-ng-show="secondKle['visible']">
														<div class="list-group-item">	
														<a data-ng-click="thirdKle['visible'] = !thirdKle['visible']">
														</a>
														<input type="checkbox" data-ng-model="thirdKle.performing" data-ng-click="modifyKle(thirdKle.performing,thirdKle,currentOrgUnit,'PERFORMING')">	</input>
														<input 
														type="checkbox" data-ng-model="thirdKle.interest" data-ng-click="modifyKle(thirdKle.interest,thirdKle,currentOrgUnit,'INTEREST')">	</input>

														{{thirdKle.number}} {{thirdKle.serviceText}}
														</div>
												</div>
											<div>
										</div>
									</div>		
							</div>
							-->