
<div class="col-md-8 col-md-offset-2">
	<h1>KLE Opmærkning</h1>
	<div class="col-md-4">
		    <input type="text" data-ng-model="filterStr" placeholder="OrgUnit" />

			<table class="table table-hover">
					<thead>
					<tr>
						<th>id</th>
						<th>Navn</th>
					</tr>
					</thead>
					<tbody data-ng-repeat="ou in displayOus | filter: { name : filterStr }">
						<tr data-ng-class="currentOrgUnit === ou ? 'success' : ''" data-ng-click="setCurrentOrgUnit(ou)">
							<td>{{ ou.id }}</td>
							<td>
								{{ ou.name | limitTo: 50 }}
							</td>					
						</tr>
					</tbody>
			</table>
	</div>
	<div class="col-md-8">
		<h2> {{currentOrgUnit.name}}</h2>
		<tabset justified="true">
			<tab heading="Udførende">
				<div class="panel panel-default margin-top">
					<div class="panel-heading">					
						Udførende
					</div>
					<div class="panel-body">

						<table class="table table-hover">
							<thead>
							<tr>
								<th></th>
								<th>Nummer</th>
								<th>Navn</th>
							</tr>
							</thead>
							<tbody data-ng-repeat="displayKle in getDisplayKlesFromScope(currentOrgUnit)">
								<tr >
									<td> 
										<input 
										type="checkbox"
										data-ng-model="displayKle.checked"
										data-ng-change="modifyKle(displayKle.checked,displayKle,currentOrgUnit)"							
										/>
									</td>
									<td>{{ displayKle.kle.number }}</td>
									<td>
										{{ displayKle.kle.name | limitTo: 50 }}
									</td>					
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</tab>
			<tab heading="Indsigt">
				<div class="panel panel-default margin-top">
					<div class="panel-heading">Indsigt</div>
					<div class="panel-body">
												
					</div>
				</div>
			</tab>
		</tabset>
	</div>

	<div class="col-md-12">
		<div data-ng-repeat="firstKle in restKles['KLE']">

			<a class="list-group-item" ng-click="firstKle['visible'] = !firstKle['visible']">
				<span class="glyphicon hover" ng-class="firstKle['visible'] ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right' "></span>
				{{firstKle.number}} {{firstKle.serviceText}}
			</a>
			<div data-ng-repeat="secondKle in firstKle.children" data-ng-show="firstKle['visible']">
				<a class="list-group-item" ng-click="secondKle['visible'] = !secondKle['visible']">
					<span class="glyphicon hover" ng-class="secondKle['visible'] ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right' "></span>
						{{secondKle.number}} {{secondKle.serviceText}}
				</a>

				<div  data-ng-repeat="thirdKle in secondKle.children" data-ng-show="secondKle['visible']">
						<a class="list-group-item">{{thirdKle.number}} {{thirdKle.serviceText}}</a>
				</div>
			<div>
		</div>
	</div>
