<style>
.hoverDiv {background: #fff;}
.hoverDiv:hover {background: #f5f5f5;}
</style>

	<div class="col-md-8 col-md-offset-2">
		
		<h1>KLE Opmærkning</h1>
		<div class="col-md-2">
			<input class="form-control" type="text" data-ng-model="filterStr" placeholder="OrgUnit" />
		</div>
		<div class="col-md-10"> 
			
		</div>
		<br><br>

		<div class="clearfix"></div>
		
		<div data-ng-show="filterStr.length==0" class="col-md-4">
			<h2>Org Units</h2>

			<script type="text/ng-template"  id="tree_item_renderer.html">
			    <div data-ng-click="toogleChildrenVisibility(ou)">
			    <span class="glyphicon hover" data-ng-class="ou.expanded ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'">
				</span>	
			    {{ou.name}}
			     <span ng-show="!ou.klesAssigned" class="glyphicon glyphicon-exclamation-sign" style="color:red" popover-trigger="mouseenter" popover-append-to-body="true" popover="The OrgUnit has no assigned KLE's"></span>

			     </div>
			
			    <ul style="list-style-type: none" >
			        <li style="list-style-type: none" ng-show="ou.visible" ng-repeat="ou in ou.children" ng-include="'tree_item_renderer.html'"></li>
			    </ul>
			</script>

			<ul>
			    <li style="list-style-type: none" data-ng-repeat="ou in ousAsTree" data-ng-include="'tree_item_renderer.html'"></li>
			</ul>
		</div>
		
		<div data-ng-show="filterStr.length>0"  class="col-md-4">
			<h2>Org Units</h2>
				<table class="table table-hover">
						<thead>
						<tr>
							<th>Navn</th>
						</tr>
						</thead>
						<tbody data-ng-repeat="ou in ous | filter: { name : filterStr }">
							<tr data-ng-class="currentOrgUnit.id === ou.id ? 'success' : ''" data-ng-click="setCurrentOrgUnit(ou.id)">
								<td>
									{{ ou.name | limitTo: 50 }}
								</td>					
							</tr>
						</tbody>
				</table>
		</div>

		<div class="col-md-8">
			<h2> {{currentOrgUnit.name}}</h2>

								<script type="text/ng-template" id="tree.html">
											<div class="hoverDiv">

											<div class="col-md-1">
											  	<input type="checkbox" data-ng-model="node.performing" data-ng-change="modifyKle(node.performing,node,currentOrgUnit,'PERFORMING')">
											 	 </input>
										 	 </div>

										 	 <div class="col-md-1">
												 <input type="checkbox" data-ng-model="node.interest" data-ng-click="modifyKle(node.interest,node,currentOrgUnit,'INTEREST')">
											 	 </input>
										 	 </div>
									 	 	
												<div data-ng-click="toggleChildren(node,this)">
													<div class="glyphicon hover" data-ng-class="node.expanded ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'" >								</div>
												 	{{::node.number}}  {{::node.serviceText}}
												 <div class="clearfix"></div>
											</div>

										</div>						
										  <ul style="list-style-type: none; list-style:none;padding-left:0px;" ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
										    <li style="list-style-type: none;" ng-repeat="node in node.children" ui-tree-node ng-include="'tree.html'" class="list-item">
										    </li>
										  </ul>								  
								</script>
							
							<div ui-tree data-drag-enabled="false">
							  <ul style="list-style-type: none; list-style:none;" ui-tree-nodes="" ng-model="currentKLETree.tree" id="tree-root" class="list-group">
							    <li ng-repeat="node in currentKLETree.tree" ui-tree-node ng-include="'tree.html'"></li>
							  </ul>
							</div>	
													  
		</div>
