<div class="panel panel-default" style="margin-top:20px">
	<div class="panel-heading">
		Roller
	</div>
	<div class="panel-body">
		<form action="">
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					Admin
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					Jørgen Jensen
				</label>
			</div>
		</form>
	</div>
</div>

<div class="panel panel-default" style="margin-top:30px">
	<div class="panel-heading">
		Visning
	</div>
	<div class="panel-body">
		<form action="">
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="visning1" value="option1" checked>
					Vis kun opgaver jeg selv er ansvarlig for
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="visning2" value="option2">
					Vis også opgaver jeg er indirekte ansvarlig for
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="visning3" value="option2">
					Vis alle opgaver
				</label>
			</div>
		</form>
	</div>
</div>