<div class="panel panel-default" style="margin-top:20px">
	<div class="panel-heading">
		Roller
	</div>
	<div class="panel-body">
		<form action="">
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					Admin
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					Jørgen Jensen
				</label>
			</div>
		</form>
	</div>
</div>

<div class="panel panel-default" style="margin-top:30px">
	<div class="panel-heading">
		Filtrering
	</div>
	<div class="panel-body">
		<form action="">
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="visning1" value="option1" checked>
					Vis kun opgaver jeg selv er ansvarlig for
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="visning2" value="option2">
					Vis også opgaver jeg er indirekte ansvarlig for
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="visning3" value="option2">
					Vis alle opgaver
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="viewSettings.showResponsible"	/> Vis ansvarlig
				</label>
			</div>
			<div>
				<input type="text" class="form-control" placeholder="Medarbejder" />
				<div>
				</div>
			</div>
		</form>
	</div>
</div>