<div class="col-md-8 col-md-offset-2">
	<alert ng-repeat="alert in settingsMessages" type="{{alert.type}}"
				 close="closeAlert($index)" class="animate-fade"
				 style="width: 100%">{{alert.msg}}
	</alert>
	<h2 class="page-title">Kommuner</h2>
	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<th>
				Navn
			</th>
			<th style="width: 70px">Id</th>
			<th style="width: 50px">Aktiv</th>
			<th style="width: 50px">Regler</th>
			<th style="width: 25px"></th>
			<th style="width: 25px"></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="municipality in municipalities">
			<td>{{ municipality.name }}</td>
			<td>{{ municipality.id }}</td>
			<td><a ng-click="toggleActive(municipality)">{{ municipality.active ? 'Ja' : 'Nej' }}</a></td>
			<td><a ng-click="buildRules(municipality)">Opret</a></td>
			<td><span class="glyphicon glyphicon-edit" tooltip="Redigér" ng-click="openEditMunicipality(municipality)"></span></td>
			<td><span class="glyphicon glyphicon-remove" tooltip="Slet" ng-click="openDeleteMunicipality(municipality)"></span></td>
		</tr>
		</tbody>
	</table>

	<div class="actions text-right">
		<button type="button" class="btn btn-primary" ng-click="openCreateMunicipality()">
			<span class="glyphicon glyphicon-plus"></span> Tilføj kommune
		</button>
	</div>

	<h2 class="page-title">Brugere</h2>

	<label for="municipalitySelector">Kommune:</label>
	<select id="municipalitySelector" ng-model="search.municipality">
		<option ng-repeat="municipality in municipalities" value="{{ municipality.name }}">{{ municipality.name }}</option>
	</select>

	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<th style="width: 20%">Kommune</th>
			<th style="width: 35%">Navn</th>
			<th style="width: 10%">Sysadmin</th>
			<th style="width: 10%">Kommuneadmin</th>
			<th style="width: 10%">Leder</th>
			<th style="width: 5%"></th>
		</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users | filter:search.municipality">
				<td>
					{{ user.municipality.name }}
				</td>
				<td>
					{{ user.name }} ({{ user.email }})

					<span ng-hide="user.roleSet"
				      class="glyphicon glyphicon-exclamation-sign"
				      style="color:red"
				      popover-trigger="mouseenter" popover-append-to-body="true"
				      popover="Denne bruger har ikke fået tildelt en rolle"></span>
				</td>
				<td>{{ user.admin ? 'Ja' : 'Nej' }}</td>
				<td>{{ user.municipalityAdmin ? 'Ja' : 'Nej' }}</td>
				<td>{{ user.manager ? 'Ja' : 'Nej' }}</td>
				<td><span class="glyphicon glyphicon-edit" tooltip="Redigér" ng-click=""></span></td>
			</tr>
		</tbody>
	</table>
</div>