<div class="col-md-8 col-md-offset-2">
	<alert ng-repeat="alert in settingsMessages" type="{{alert.type}}"
				 close="closeAlert($index)" class="animate-fade"
				 style="width: 100%">{{alert.msg}}
	</alert>
	<h2 class="page-title">Kommuner</h2>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Navn</th>
				<th style="width: 70px">Id</th>
				<th style="width: 50px">Aktiv</th>
				<th style="width: 100px"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="municipality in municipalities">
				<td>{{ municipality.name }}</td>
				<td>{{ municipality.id }}</td>
				<td><input type="checkbox" name="municipalityActive" ng-checked="{{ municipality.active }}" ng-click="toggleActive(municipality)"></td>
				<td>
					<button type="button" class="btn btn-primary" ng-click="buildRules(municipality)">Opret regler</button>
					<button type="button" class="btn btn-primary" ng-click="openEditMunicipality(municipality)"><span class="glyphicon glyphicon-edit"></span> Rediger</button>
					<button type="button" class="btn btn-danger" ng-click="openDeleteMunicipality(municipality)"><span class="glyphicon glyphicon-remove"></span> Slet</button>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="actions text-right">
		<button type="button" class="btn btn-primary" ng-click="openCreateMunicipality()">
			<span class="glyphicon glyphicon-plus"></span> Tilføj kommune
		</button>
	</div>

	<h2 class="page-title">Brugere</h2>

	<label for="municipalitySelector">Kommune:</label>
	<select id="municipalitySelector" ng-model="search.municipality" ng-options="municipality.name for municipality in municipalities track by municipality.name"></select>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Kommune</th>
				<th style="width: 70px">Navn</th>
				<th style="width: 70px">Systemadmin</th>
				<th style="width: 70px">Kommuneadmin</th>
				<th style="width: 70px">Leder

					<span ng-hide="user.roleSet"
				      class="glyphicon glyphicon-exclamation-sign"
				      style="color:lightskyblue"
				      popover-trigger="mouseenter" popover-append-to-body="true"
				      popover="Hvorvidt brugeren er leder kan ikke sættes manuelt"></span>
				</th>
				<th style="width: 70px">Kleadmin</th>

				<th style="width: 100px"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="currUser in users | filter:search.municipality.name | orderBy:'name' ">
				<td>
					{{ currUser.municipality.name }}
				</td>
				<td>
					{{ currUser.name }} ({{ currUser.email }})

					<span ng-hide="currUser.roleSet"
				      class="glyphicon glyphicon-exclamation-sign"
				      style="color:red"
				      popover-trigger="mouseenter" popover-append-to-body="true"
				      popover="Denne bruger har ikke fået tildelt en rolle"></span>
				</td>
				<td><input type="checkbox" name="userAdmin" ng-checked="{{ currUser.admin }}" ng-click="toggleAdmin(currUser)"></td>
				<td><input type="checkbox" name="userMunicipalityAdmin" ng-checked="{{ currUser.municipalityAdmin }}" ng-click="toggleMunicipalityAdmin(currUser)"></td>
				<td><input type="checkbox" name="userManager" ng-checked="{{ currUser.manager }}" disabled></td>
				<td><input type="checkbox" name="kleAdmin" ng-checked="{{ currUser.kleAssigner }}" ng-click="toggleKleAdmin(currUser)"></td>
				<td>
					<button type="button" class="btn btn-primary" ng-click="openEditUser(currUser)"><span class="glyphicon glyphicon-edit"></span> Rediger</button>
					<button type="button" class="btn btn-danger" ng-click="openDeleteUser(currUser)"><span class="glyphicon glyphicon-remove"></span> Slet</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>