<div id="responsible-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Tilføj stedfortræder</h4>
	</div>
	<div class="modal-body">
		<div>Vælg en person der skal fungere som stedfortræder.</div>
		<div>
			<div class="row">
				<div class="padded-top col-md-5">
					<input type="text" class="form-control" placeholder="Navn" ng-model="search.nameTerm" />
				</div>
				<div class="padded-top col-md-5">
					<input type="text" class="form-control" placeholder="Initialer" ng-model="search.initialsTerm" />
				</div>
				<div class="padded-top col-md-2">
					<button class="btn btn-primary btn-block" ng-click="employmentSearch()">Søg</button>
				</div>
			</div>
			<div class="row" ng-show="searchNotification">
				<div class="col-md-12 padded-top">
					<alert type="info" close="searchNotification = false">Udfør søgning for flere resultater</alert>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-info margin-top" ng-show="searchResult.results.length">
						Viser {{ employments.length }} af {{ searchResult.totalMatches }} resultater
					</div>
				</div>
			</div>
			<table class="table table-hover">
				<thead>
				<tr>
					<th>Navn</th>
					<th>Initialer</th>
					<th>Titel</th>
					<th>Ansættelsessted</th>
					<th>Esdh id</th>
				</tr>
				</thead>
				<tbody ng-repeat="employment in employments">
				<tr ng-class="currentEmployment === employment ? 'success' : ''" ng-click="setCurrentEmployment(employment)">
					<td>{{ employment.name }}</td>
					<td>{{ employment.initials }}</td>
					<td>{{ employment.jobTitle }}</td>
					<td>{{ employment.employedIn.name }}</td>
					<td>{{ employment.esdhId }}</td>
				</tr>
				</tbody>
			</table>
			<div class="row" ng-show="searchResult.totalMatches > employments.length && searchResult.totalMatches > 0">
				<div class="col-md-8 col-md-offset-2">
					<button class="btn btn-primary btn-block" ng-click="loadMoreEmployments()">Hent flere</button>
				</div>
			</div>
			<alert ng-repeat="alert in modalAlerts" type="{{alert.type}}"
						 close="closeAlert($index)" class="animate-fade"
						 style="width: 100%">{{alert.msg}}
			</alert>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Gem</button>
		<button class="btn btn-default" ng-click="cancel()">Annuller</button>
	</div>
</div>
