<div>
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Vedligehold fordelingsregel</h4>
	</div>
	<div class="modal-body">
		<div>Vedligehold af regel for: '{{ topic.kle.number }} {{ topic.kle.name }}'</div>
		<dl class="dl-horizontal">
			<dt>Ansvarlig enhed:</dt>
			<dd>{{ topic.rule.orgUnit }}</dd>
			<dt>Ansvarlig person: </dt>
			<dd>{{ topic.rule.employee.name }}</dd>
		</dl>
		<div>
			<tabset justified="true">
				<tab heading="Vælg organisatorisk enhed">
					<div class="row">
						<div class="padded-top col-md-4">
							<input type="text" class="form-control" placeholder="filter" ng-model="orgFilter" />
						</div>
						<div class="padded-top col-md-4">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="scopeFilter.showAll" ng-click="loadAllOrgUnits()"> Vis alle {{ scopeFilter.showAll }}
								</label>
							</div>
						</div>
					</div>
					<table class="table table-hover">
						<thead>
						<tr>
							<th>Afdelingsnavn</th>
							<th>Leder</th>
							<th>Esdh id</th>
							<th>Esdh betegnelse</th>
						</tr>
						</thead>
						<tbody ng-repeat="orgUnit in orgUnits | filter:orgFilter | filter: scopeFilter.showAll || { subordinate: true }  ">
						<tr ng-class="selectedOrgUnit === orgUnit ? 'success' : ''" ng-click="setSelectedOrgUnit(orgUnit)">
							<td>{{ orgUnit.name }}</td>
							<td ng-class="orgUnit.manager ? '' : 'inherited'">{{ firstManagedParent(orgUnit).manager.name }}</td>
							<td>{{ orgUnit.esdhId }}</td>
							<td>{{ orgUnit.esdhName }}</td>
						</tr>
						</tbody>
					</table>
				</tab>
				<tab heading="Vælg ny medarbejder">
					<div class="row">
						<div class="padded-top col-md-5">
							<input type="text" class="form-control" placeholder="Navn" ng-model="search.nameTerm" />
						</div>
						<div class="padded-top col-md-5">
							<input type="text" class="form-control" placeholder="Initialer" ng-model="search.initialsTerm" />
						</div>
						<div class="padded-top col-md-2">
							<button class="btn btn-primary btn-block" ng-click="employmentSearch()">Søg</button>
						</div>
					</div>
					<div class="row" ng-show="searchNotification">
						<div class="col-md-12 padded-top">
							<alert type="info" close="searchNotification = false">Udfør søgning for flere resultater</alert>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-info margin-top" ng-show="searchResult.results.length">
								Viser {{ employments.length }} af {{ searchResult.totalMatches }} resultater
							</div>
						</div>
					</div>
					<table class="table table-hover">
						<thead>
						<tr>
							<th>Navn</th>
							<th>Initialer</th>
							<th>Titel</th>
							<th>Ansættelsessted</th>
							<th>Esdh id</th>
						</tr>
						</thead>
						<tbody ng-repeat="emp in employments">
						<tr ng-class="selectedEmp === emp ? 'success' : ''" ng-click="setSelectedEmp(emp)">
							<td>{{ emp.name }}</td>
							<td>{{ emp.initials }}</td>
							<td>{{ emp.jobTitle }}</td>
							<td>{{ emp.employedIn.name }}</td>
							<td>{{ emp.esdhId }}</td>
						</tr>
						</tbody>
					</table>
					<div class="row" ng-show="searchResult.totalMatches > employments.length && searchResult.totalMatches > 0">
						<div class="col-md-8 col-md-offset-2">
							<button class="btn btn-primary btn-block" ng-click="loadMoreEmployments()">Hent flere</button>
						</div>
					</div>
				</tab>
			</tabset>
		</div>
	</div>
	<div class="modal-footer">
		<alert ng-repeat="alert in ruleAlerts" type="{{alert.type}}"
					 close="closeAlert($index)" class="animate-fade"
					 style="width: 100%">{{alert.msg}}
		</alert>
		<button class="btn btn-primary" ng-click="ok()">Gem</button>
		<button class="btn btn-default" ng-click="cancel()">Annuller</button>
	</div>
</div>
