<div ng-show="user.currentRole.manager && !user.currentRole.substitute" class="panel panel-default">
	<div class="panel-heading">Stedfortræder</div>
	<div class="panel-body">
		<ul ng-repeat="sub in substitutes" class="list-unstyled">
			<li>
				{{ sub.userName }}
				<span class="glyphicon glyphicon-remove" ng-click="removeSubstitute(sub)"></span>
			</li>
		</ul>
		<button class="btn btn-primary btn-block" ng-click="addSubstitute()">
			Tilføj stedfortræder
		</button>
	</div>
</div>

<div class="panel panel-default" style="">
	<div class="panel-heading">
		Filtrering
	</div>
	<div class="panel-body">
		<form action="">
			<div class="radio">
				<label>
					<input type="radio" name="filterByResponsibility" id="visning1"
							ng-model="settings.scope" ng-click="updateSettings()" value="RESPONSIBLE">
					Vis kun mine opgaver
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="filterByResponsibility" id="visning2"
							 ng-model="settings.scope" ng-click="updateSettings()" value="INHERITED">
					Vis også opgaver for underordnede ledere
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="filterByResponsibility" id="visning3"
							ng-model="settings.scope" ng-click="updateSettings()" value="ALL">
					Vis alle opgaver
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="settings.showResponsible" ng-click="updateSettings()"	/> Vis ansvarlig
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="settings.showExpandedOrg" ng-click="updateSettings()"	/> Vis kontaktopl.
				</label>
			</div>
			<div>
				<input type="text" class="form-control" placeholder="Filter" ng-model="filter.text" />
			</div>
		</form>
	</div>
</div>