<div ng-controller="ExtendedResponsibilityController">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">
	        <span aria-hidden="true">&times;</span>
        </button>

	    <h4 class="modal-title">Tilføj udvidet fordelingsregel for '{{ topic.kle.number }} {{ topic.kle.name }}'</h4>
    </div>

    <div class="modal-body">
        <div ng-show="currentTab=='list'">
            <h1>Eksisterende regler</h1>

            <table class="table table-hover">
                <thead>
	                <tr>
	                    <th>Regel</th>
	                    <th>Organisationsenhed</th>
	                    <th>Medarbejder</th>
	                    <th>&nbsp;</th>
	                </tr>
                </thead>
                <tbody ng-repeat="filter in filters">
	                <tr>
	                    <td>{{ filter.name }}</td>
	                    <td>{{ filter.assignedOrgName }}</td>
	                    <td>{{ filter.assignedEmployeeName }}</td>
	                    <td align="right">
		                    <a href="" class="btn btn-primary" ng-click="show(filter.filterId, filter.type)">Vis</a>
		                    <a href="" class="btn btn-danger" ng-click="removeFilter(filter.filterId)">Slet</a>
	                    </td>
	                </tr>
                </tbody>
            </table>
        </div>

        <div ng-show="currentTab=='add' || currentTab=='show'">
            <form method="post">
                <tabset justified="true">
	                <!-- Date based filter -->
                    <tab ng-click="model.type='cpr'" heading="Dato" active="active.cpr">
                        <p>
                            <label for="filter_name">Navn:
                                <input type="text" class="form-control" ng-model="model.name" name="filter_name" id="filter_name">
                            </label>
                        </p>

                        <p>
                            <label for="filter_days">Dage: <span>(1,3-5 betyder dagene 1,3,4,5)</span>
                                <input type="text" class="form-control" ng-model="model.days" name="filter_days" id="filter_days">
                            </label>
                        </p>

                        <p>
                            <label for="filter_months">Måneder: <span>(1,4-7 betyder månederne 1,4,5,6,7)</span>
                                <input type="text" class="form-control" ng-model="model.months" name="filter_months" id="filter_months">
                            </label>
                        </p>
                    </tab>

	                <!-- Text based filter -->
                    <tab heading="Tekst" ng-click="model.type='text'" active="active.text">
                        <p>
                            <label for="filter_name2">Navn:
                                <input type="text" class="form-control" ng-model="model.name" name="filter_name" id="filter_name2">
                            </label>
                        </p>

                        <p>
                            <label for="filter_text">Text: <span>(Brug * til wildcard søgning. * kan placeres først og sidst i teksten.)</span>
                                <input type="text" class="form-control" ng-model="model.text" name="filter_text" id="filter_text">
                            </label>
                        </p>
                    </tab>
                </tabset>

                <div>
                    <tabset justified="true">
                        <tab heading="Vælg organisatorisk enhed">
                            <div class="row">
                                <div class="padded-top col-md-4">
                                    <input type="text" class="form-control" placeholder="filter" ng-model="orgFilter"/>
                                </div>
                                <div class="padded-top col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="scopeFilter.showAll" ng-click="loadAllOrgUnits()"> Vis alle
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Afdelingsnavn</th>
                                    <th>Leder</th>
                                    <th>Esdh id</th>
                                    <th>Esdh betegnelse</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="orgUnit in orgUnits | filter:orgFilter | filter: scopeFilter.showAll || { subordinate: true }  ">
                                <tr ng-class="selectedOrgUnit === orgUnit ? 'success' : ''"
                                    ng-click="setSelectedOrgUnit(orgUnit)">
                                    <td>{{ orgUnit.name }}</td>
                                    <td ng-class="orgUnit.manager ? '' : 'inherited'">{{
                                        firstManagedParent(orgUnit).manager.name }}
                                    </td>
                                    <td>{{ orgUnit.esdhId }}</td>
                                    <td>{{ orgUnit.esdhName }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>
                        <tab heading="Vælg ny medarbejder">
                            <div class="row">
                                <div class="padded-top col-md-5">
                                    <input type="text" class="form-control" placeholder="Navn"
                                           ng-model="search.nameTerm"/>
                                </div>
                                <div class="padded-top col-md-5">
                                    <input type="text" class="form-control" placeholder="Initialer"
                                           ng-model="search.initialsTerm"/>
                                </div>
                                <div class="padded-top col-md-2">
                                    <button class="btn btn-primary btn-block" ng-click="employmentSearch()">Søg</button>
                                </div>
                            </div>
                            <div class="row" ng-show="searchNotification">
                                <div class="col-md-12 padded-top">
                                    <alert type="info" close="searchNotification = false">Udfør søgning for flere
                                        resultater
                                    </alert>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-info margin-top" ng-show="searchResult.results.length">
                                        Viser {{ employments.length }} af {{ searchResult.totalMatches }} resultater
                                    </div>
                                </div>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Navn</th>
                                    <th>Initialer</th>
                                    <th>Titel</th>
                                    <th>Ansættelsessted</th>
                                    <th>Esdh id</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="emp in employments">
                                <tr ng-class="selectedEmp === emp ? 'success' : ''" ng-click="setSelectedEmp(emp)">
                                    <td>{{ emp.name }}</td>
                                    <td>{{ emp.initials }}</td>
                                    <td>{{ emp.jobTitle }}</td>
                                    <td>{{ emp.employedIn.name }}</td>
                                    <td>{{ emp.esdhId }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row"
                                 ng-show="searchResult.totalMatches > employments.length && searchResult.totalMatches > 0">
                                <div class="col-md-8 col-md-offset-2">
                                    <button class="btn btn-primary btn-block" ng-click="loadMoreEmployments()">
	                                    Hent flere
                                    </button>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" ng-show="currentTab=='list'">
        <a href="" class="btn btn-primary" ng-click="add()">Tilføj</a>
    </div>
    <div class="modal-footer" ng-show="currentTab=='add'">
        <a href="" class="btn btn-primary" ng-click="currentTab='list'">Annuller</a>
        <a href="" class="btn btn-primary" ng-click="createFilter()">Opret</a>
    </div>
    <div class="modal-footer" ng-show="currentTab=='show'">
        <a href="" class="btn btn-primary" ng-click="currentTab='list'">Annuller</a>
        <a href="" class="btn btn-primary" ng-click="createFilter()">Opdater</a>
    </div>
</div>
