<div ng-controller="ExtendedResponsibilityController">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">
	        <span aria-hidden="true">&times;</span>
        </button>

	    <h4 class="modal-title ng-cloak">Tilføj udvidet fordelingsregel for '{{ topic.kle.number }} {{ topic.kle.name }}'</h4>
    </div>

    <div class="modal-body">
        <div ng-show="currentTab=='list'" ng-include="'/app/home/extended-list-tab.html'"></div>
        <div ng-show="currentTab=='add' || currentTab=='show'" ng-include="'/app/home/extended-edit-tab.html'"></div>
    </div>
    <div class="modal-footer" ng-show="currentTab=='list'">
        <a href="" class="btn btn-primary" ng-click="add()">Tilføj</a>
    </div>
    <div class="modal-footer ng-cloak" ng-show="currentTab=='add'">
	    <alert ng-repeat="alert in ruleAlerts" type="{{alert.type}}"
	           close="closeAlert($index)" class="animate-fade"
	           style="width: 100%">{{alert.msg}}
	    </alert>

	    <a href="" class="btn btn-primary" ng-click="cancelEdit()">Annuller</a>
        <a href="" class="btn btn-primary" ng-click="createFilter()">Opret</a>
    </div>
    <div class="modal-footer ng-cloak" ng-show="currentTab=='show'">
	    <alert ng-repeat="alert in ruleAlerts" type="{{alert.type}}"
	           close="closeAlert($index)" class="animate-fade"
	           style="width: 100%">{{alert.msg}}
	    </alert>

	    <a href="" class="btn btn-primary" ng-click="cancelEdit()">Annuller</a>
        <a href="" class="btn btn-primary" ng-click="createFilter()">Opdater</a>
    </div>
</div>
